<div class="container">
  <h2 class="title">Analizamos Cualquier Alimento</h2>
  <div class="cards-container">
    <div class="card" *ngFor="let fruit of fruits">
      <div class="card-image">
        <img [src]="fruit.image" [alt]="fruit.name">
      </div>
      <div class="card-content">
        <h3>{{ fruit.name }}</h3>
        <div class="nutrition-info">
          <p><strong>Proteínas:</strong> {{ fruit.protein }}g</p>
          <p><strong>Carbohidratos:</strong> {{ fruit.carbohydrates }}g</p>
          <p><strong>Azúcares:</strong> {{ fruit.sugar }}g</p>
        </div>
      </div>
    </div>
  </div>
</div>
