<div style="background-color: #FFE5B4;">
  <div class="banner-title">
    Haz una prueba
  </div>

  <div class="three-column-banner">
    <!-- Columna 1: Imagen Robot -->
    <div class="column robot-column">
      <img src="/assets/robot/happy robot.png" alt="Robot" class="robot-image" />
    </div>

    <!-- Columna 2: Valores Nutricionales -->
    <div class="column nutrient-column">
      <mat-card class="nutrition-card">
        <mat-card-header>
          <mat-card-title>Valores Nutricionales</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="nutritionData; else noData">
            <div class="nutrition-item">
              <span class="label">Nombre:</span>
              <span class="value">{{ nutritionData.nombre }}</span>
            </div>
            <div class="nutrition-item">
              <span class="label">Calorías:</span>
              <span class="value">{{ nutritionData.calorias }} kcal</span>
            </div>
            <div class="nutrition-item">
              <span class="label">Proteínas:</span>
              <span class="value">{{ nutritionData.proteinas }} g</span>
            </div>
            <div class="nutrition-item">
              <span class="label">Azúcares:</span>
              <span class="value">{{ nutritionData.carbohidratos }} g</span>
            </div>
            <div class="nutrition-item">
              <span class="label">Grasas:</span>
              <span class="value">{{ nutritionData.grasas }} g</span>
            </div>
          </div>
          <ng-template #noData>
            <p>Escanea un producto para ver sus valores nutricionales.</p>
          </ng-template>
        </mat-card-content>
        <app-loading-bar 
        [calories]="nutritionData?.calorias || 0"
        [protein]="nutritionData?.proteinas || 0"
        [carbs]="nutritionData?.carbohidratos || 0"
        [fat]="nutritionData?.grasas || 0">
      </app-loading-bar>
            </mat-card>
    </div>

    <!-- Columna 3: Cámara y Escáner -->
    <div class="column camera-column">
      <mat-card class="camera-card">
        <mat-card-header>
          <mat-card-title>Escanea tu producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <zxing-scanner
            [formats]="supportedFormats"
            [tryHarder]="true"
            (scanSuccess)="onCodeResult($event)"
            (scanFailure)="onScanFailure($event)"
            (scanError)="onScanError($event)">
          </zxing-scanner>
          <div>
            <button mat-raised-button color="primary" (click)="activateCamera()">
              {{ isCameraActive ? 'Desactivar Cámara' : 'Activar Cámara' }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>