<footer class="footer">
  <!-- Left Side: Address -->
  <div class="footer__address">
    <p>
      1Av. Universidad No.350, Carretera Federal Cuitláhuac-La Tinaja, Localidad Dos Caminos C.P. 94910 Cuitláhuac, Veracruz.<br>
      Tel. 01 (278) 73 22050<br>
      rectoriautcv.edu.mx
    </p>
  </div>

  <!-- Middle: Logo -->
  <div class="footer__logo">
    <img src="/assets/logo/logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Right Side: Social Media Buttons -->
  <div class="footer__socials">
    <app-social-media></app-social-media>
  </div>
</footer>