<mat-toolbar color="primary">
    <!-- Left Section: Logo and Title -->
    <div class="left-section">
      <img src="/assets/logo/logo.png" alt="Logo" class="logo" />
      <span class="title">NutriSnap</span>
    </div>
  
    <!-- Right Section: Navigation Links -->
    <div class="right-section">
        <a mat-button routerLink="/landing/heroe" class="mat-body-2">Home</a>
        <a mat-button (click)="register()" class="mat-body-2">Register</a>
        <a mat-button (click)="login()" class="mat-body-2">Login</a>
    </div>
  </mat-toolbar>