<mat-toolbar color="primary">
    <!-- Left Section: Logo and Title -->
    <div class="left-section">
      <img src="/assets/logo/logo.png" alt="Logo" class="logo" />
      <span class="title">NutriSnap</span>
    </div>
  
    <!-- Right Section: Navigation Links -->
    <div class="right-section">
        <a mat-button routerLink="/landing/heroe" class="mat-body-2">Inicio</a>      
        <a *ngIf="!isAuthenticated" mat-button (click)="login()" class="mat-body-2">Iniciar Sesión</a>
        <a *ngIf="isAuthenticated" mat-button (click)="logout()" class="mat-body-2">Cerrar Sesión</a>
    </div>
  </mat-toolbar>