mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  
    .left-section {
      display: flex;
      align-items: center;
  
      .logo {
        height: 40px;
        margin-right: 10px;
      }
  
      .title {
        font-weight: 900;
        font-size: 1.5em;
      }
    }
  
    .right-section {
      a {
        font-weight: 600;
        margin-left: 10px;
  
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }