.background-image {
  position: relative; /* Permite posicionar el botón de manera absoluta dentro de este contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-image: url('/assets/background/bg-fruits.png');
  background-size: auto; /* Usa el tamaño original de la imagen */
  background-position: center; /* Centra la imagen */
  background-repeat: repeat; /* Repite la imagen */
}

/* Estilos para el botón Add */
.button-add {
  position: absolute; /* Posiciona el botón de manera absoluta */
  top: -50px; /* Distancia desde la parte superior */
  left: 60px; /* Distancia desde la izquierda */
  z-index: 10; /* Asegura que el botón esté sobre la tabla */
  color: #4bb072; /* Color del ícono */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border-radius: 50%; /* Hace el botón circular */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 1); /* Fondo más sólido al hacer hover */
  }
}

.mat-elevation-z8 {
  width: 80%;
  max-width: 1000px; /* Limita el ancho máximo de la tabla */
  margin: 0 auto;
  overflow: hidden;
  padding: 2em; /* Aumenta el padding para mejor espaciado */
  background-color: #FFFFFF; // Fondo blanco para la tabla
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave

  th, td {
    padding: 1em; /* Aumenta el padding para mejor espaciado */
  }

  th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #88B04B; // Verde pastel
    background-color: #F5F5F5; // Fondo claro para el encabezado
  }

  td {
    font-weight: normal;
    font-size: 1em;
    color: #4A4A4A; // Color de texto oscuro
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
  }

  tr:nth-child(odd) {
    background-color: #f9f9f9; // Fondo gris muy claro para filas impares
  }

  tr:nth-child(even) {
    background-color: #FFFFFF; // Fondo blanco para filas pares
  }

  td:first-child {
    color: #FF6F61; // Rosa pastel para la primera columna
  }

  tr:hover {
    background-color: #eaf0a1; // Rosa muy claro al hacer hover
    -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.1);
  }

  td:hover {
    background-color: #FFFACD; // Amarillo pastel al hacer hover
    color: #4A4A4A; // Texto oscuro para contraste
    font-weight: bold;
    box-shadow: #FFD700 -1px 1px, #FFD700 -2px 2px, #FFD700 -3px 3px, #FFD700 -4px 4px, #FFD700 -5px 5px, #FFD700 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
  }
}

@media (max-width: 800px) {
  .mat-elevation-z8 {
    width: 95%; /* Aumenta el ancho en dispositivos pequeños */
    padding: 1em; /* Reduce el padding en dispositivos pequeños */

    td:nth-child(4),
    th:nth-child(4) {
      display: none;
    }
  }
}