<div class="split-container">
  <!-- Left Half: Logo -->
  <div class="left-half">
    <img src="/assets/logo/logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Right Half: Card -->
  <div class="right-half">
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title>Quienes Somos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          NutriSnap es una aplicación innovadora diseñada para ayudarte a llevar un estilo de vida más saludable.
          Con nuestra tecnología avanzada, puedes escanear tus alimentos y obtener información nutricional al instante.
          ¡Únete a nosotros y comienza tu viaje hacia una mejor salud!
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Middle Image -->
  <img src="/assets/robot/teaching robot.png" alt="Middle Image" class="middle-image" />
</div>