.split-container {
  display: flex;
  height: 45vh; // Full viewport height
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative; // Required for absolute positioning of the middle image
  background-color: #E3F2D0; // Light green background

  .left-half,
  .right-half {
    flex: 1; // Each half takes equal space
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-half {
    .logo {
      max-width: 100%;
      height: auto;
    }
  }

  .right-half {
    .about-card {
      max-width: 400px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow

      mat-card-title {
        font-size: 34px;
        font-weight: bold;
      }

      mat-card-content {
        font-size: 22px;
      }
    }
  }

  .middle-image {
    position: absolute; // Position the image absolutely within the container
    top: 60%; // Center vertically
    left: 53%; // Center horizontally
    transform: translate(-50%, -50%); // Offset to truly center the image
    z-index: 10; // Ensure the image stays on top
    max-width: 350px; // Increased size of the middle image
    height: auto; // Maintain aspect ratio
  }
}