<div class="loading-bar-container">
  <!-- Barra combinada -->
  <div class="loading-bar combined-bar">
    <div class="bar calories" [style.width]="caloriesPercentage"></div>
    <div class="bar protein" [style.width]="proteinPercentage"></div>
    <div class="bar carbs" [style.width]="carbsPercentage"></div>
    <div class="bar fat" [style.width]="fatPercentage"></div>
  </div>

  <!-- Barras individuales -->
  <div class="separate-bars">
    <div class="bar-container">
      <span class="label">Calorías:</span>
      <div class="loading-bar">
        <div class="bar calories" [style.width]="caloriesPercentage"></div>
      </div>
    </div>
    <div class="bar-container">
      <span class="label">Proteínas:</span>
      <div class="loading-bar">
        <div class="bar protein" [style.width]="proteinPercentage"></div>
      </div>
    </div>
    <div class="bar-container">
      <span class="label">Carbohidratos:</span>
      <div class="loading-bar">
        <div class="bar carbs" [style.width]="carbsPercentage"></div>
      </div>
    </div>
    <div class="bar-container">
      <span class="label">Grasas:</span>
      <div class="loading-bar">
        <div class="bar fat" [style.width]="fatPercentage"></div>
      </div>
    </div>
  </div>
</div>
