.loading-bar-container {
  margin-top: 20px;

  .combined-bar {
    display: flex;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;

    .bar {
      height: 100%;
      &.calories {
        background-color: #ff6f61; // Red for calories
      }
      &.protein {
        background-color: #4caf50; // Green for protein
      }
      &.carbs {
        background-color: #ffc107; // Yellow for carbs
      }
      &.fat {
        background-color: #2196f3; // Blue for fat
      }
    }
  }

  .separate-bars {
    margin-top: 20px;

    .bar-container {
      margin-bottom: 10px;

      .label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .loading-bar {
        height: 10px;
        background-color: #e0e0e0;
        border-radius: 5px;
        overflow: hidden;

        .bar {
          height: 100%;
          &.calories {
            background-color: #ff6f61; // Red for calories
          }
          &.protein {
            background-color: #4caf50; // Green for protein
          }
          &.carbs {
            background-color: #ffc107; // Yellow for carbs
          }
          &.fat {
            background-color: #2196f3; // Blue for fat
          }
        }
      }
    }
  }
}