/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos para los snackbars */
.success-snackbar {
    background-color: #4caf50; /* Verde para éxito */
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Rojo para errores */
    color: white;
  }
  
  .warning-snackbar {
    background-color: #ff9800; /* Naranja para advertencias */
    color: white;
  }