<div class="container">
    <div class="form_area">
      <!-- Contenedor para la flecha y el título -->
      <div class="header">
        <button mat-button (click)="goBack()">
          <mat-icon class="large-icon">arrow_back</mat-icon>
        </button>
        <p class="title">{{ isLogin ? 'INICIAR SESIÓN' : 'REGISTRARSE' }}</p>
      </div>
  
      <!-- Campos del formulario -->
      <div class="form_group" *ngIf="!isLogin">
        <label class="sub_title" for="name">Nombre</label>
        <input placeholder="Ingresa tu nombre completo" class="form_style" type="text" id="name">
      </div>
  
      <div class="form_group">
        <label class="sub_title" for="email">Correo electrónico</label>
        <input placeholder="Ingresa tu correo electrónico" id="email" class="form_style" type="email">
      </div>
  
      <div class="form_group">
        <label class="sub_title" for="password">Contraseña</label>
        <input placeholder="Ingresa tu contraseña" id="password" class="form_style" type="password">
      </div>
  
      <div class="form_group" *ngIf="!isLogin">
        <label class="sub_title" for="confirm-password">Confirmar contraseña</label>
        <input placeholder="Confirma tu contraseña" id="confirm-password" class="form_style" type="password">
      </div>
  
      <div>
        <button class="btn" *ngIf="isLogin" (click)="login()">INICIAR SESIÓN</button>
        <button class="btn" *ngIf="!isLogin" (click)="register()">REGISTRARSE</button>
  
        <p *ngIf="isLogin">¿No tienes una cuenta? <a class="link" href="/auth/register">¡Regístrate aquí!</a></p>
        <p *ngIf="!isLogin">¿Ya tienes una cuenta? <a class="link" href="/auth/login">¡Inicia sesión aquí!</a></p>
      </div>
    </div>
  </div>